.signin-area {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 400px;
	margin-top: 70px;
}

.signin-title {
	font-weight: 300;
}

.signin-title {
	font-weight: 300;
}

.signin-box {
	border: 1px solid rgba(0,0,0,.125);
	width: 100%;
	height: 350px;
	padding: 10px 20px;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
	transition: all ease-in 600ms;
}


.signin-logo {
	width: 90px;
	height: 90px;
}

.signin-box-footer {
	margin: 5px 0;
	text-align: center;
}

.signin-box-footer >small a {
	color: #108014;
}

.signin-box-title {
	font-size: 20px;
	text-align: center;
}

.signin-input-section {
	display: block;
	width: 350px;
	box-sizing: border-box;
	margin: 10px 10px;

}


.signin-input-section input {
	padding: 18px 20px;
	border: 1px solid #108014;
	width: 96%;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.signin-submit {
	display: block;
	text-align: center;
}

.signin-submit button {
	cursor: pointer;
	padding: 14px 50px;
	background-color: #108014;
	border: none;
	transition-duration: 0.4s;
	border-radius: 5px;
	color: #ffffff;
}

.signin-submit button:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

nav.politico-nav div.nav-left {
 float: none;
 padding: 0;
}

@media (max-width: 575.98px) { 
	.signin-area {
		width: 90%;
	}
	.signin-card {
		height: auto;
	}
	.signin-input-section {
		width: 100%;
	}
	.signin-input-section input {
		width: 90%
	}
}
